<div class="layout-content table">
  <div class="table-header">
    <div>
      <p>Customers</p>
    </div>
    <div>
      <a href="/customers/create">+ Add New Customer</a>
    </div>
  </div>
  <hr>
  <table class="table-content">
    <tr class="table-content-header">
      <th>ID</th>
      <th>Name</th>
      <th>Age</th>
      <th>Gender</th>
      <th>Billing</th>
      <th>Created</th>
      <th>Actions</th>
    </tr>
    <% for (const customer of customers) { %>
      <tr class="table-content-row">
        <td><%- customer.id %></td>
        <td><%- customer.name %></td>
        <td><%- customer.age %></td>
        <td><%- customer.gender %></td>
        <td><%- customer.billing %></td>
        <td><%- customer.createdAt %></td>
        <td>
          <a href="/customers/<%- customer.id %>/edit">Editar</a>
          <a href="/api/customers/<%- customer.id %>/remove">Remover</a>
        </td>
      </tr>
    <% } %>
  </table>
</div>